/* Imports */
@font-face {
    font-family: 'vcr';
    src: url(./../fonts/VCR_OSD_MONO.ttf) format('truetype');
}
/* Elements */
body{
  background-color: black; text-align: center;
  font-size: 100%; color: #0fdf3cc9;
  font-family: vcr;
}
div{
  background-color: #3a006b;
}
a{
  text-decoration:none; color: #0fdf3cc9;
}
/* Classes */
.main{
  font-size: 100%; color: #0fdf3cc9;
  font-family: vcr; background-color: #3a006b;
}
.spaceline{
  padding: 1%;
  }
.placeholder{
  padding: 1%;
}
.buttons{
  width: 80%; font-size: 200%; margin: 0 auto;
}
.top{
  position: sticky;

}
/* IDs */
#head{
  top:1.5%;
}
#foot{
  bottom:1.5%;
}