@font-face {
    font-family: 'vcr';
    src: url(./../fonts/VCR_OSD_MONO.ttf) format('truetype');
  }
body{
  background-color: black; text-align: center;
}
#top{
  position: sticky; top:1.5%; height: 100%;
}
.main{
  font-size: 100%; color: #0fdf3cc9; 
  font-family: vcr; background-color: #3a006b;
}
.empty_spaceline{
  padding: 1%;
  }
.placeholder{
  padding: 1%;
}
.buttons{
  width: 80%; font-size: 200%; margin: 0 auto;
}