@font-face {
    font-family: 'vcr';
    src: url(./../fonts/VCR_OSD_MONO.ttf) format('truetype');
  }
body{
  background-color: black; text-align: center;
}
#top{
  position: static; top:1%; right:10%; left:10%;
}
.main{
  position: relative; font-size: 100%; color: #0fdf3cc9; 
  font-family: vcr; background-color: #3a006b;
}
.empty_spaceline{
  padding: 1%;
  }
.placeholder{
  padding: 1%;
}