body {
    background-color: var(--background-color);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    margin: 0;
}

header {
    background-color: var(--alt-background);
    font-size: 18px;
    text-align: center;
}

header a {
    padding: 110px;
    text-decoration: none;
    color: var(--text-menu-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 43px);
}

main .card {
    margin: 5dvh;
    width: 45dvh;
    height: 70dvh;
    font-size: 28px;
    text-align: center;
    color: var(--text-color);
    perspective: 1000px;
    transition: all 0.5s ease;
}

main .card .inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px 6vh;
    border-style: outset;
    background-color: var(--card-color);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

main .card:hover .inner {
    transform: rotateY(180deg);

}

main .card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

main .card-front img {
    width: 70%;
}

main .card .roles p {
    margin: 0px;
}

main .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

main .card-front p {
    font-weight: 600;
}

main .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    text-align: center;
}

main .card-back img {
    width: 50%;
}

main .card-back p {
    height: 30px;
    position: relative;
    top: -50px;
}

footer {
    background-color: var(--alt-background);
    font-size: 12px;
    text-align: center;
}

footer a {
    color: var(--text-alt-color);
}

#adviceDiv {
    padding: 50px 70px 50px 70px;
    font-size: 20px;
    font-weight: 300;
}

/* Responsiveness */

@media(max-width: 768px) {
    main div p {
        font-size: 22px;
    }
}

@media(max-width: 360px) {
    header a {
        padding: 1dvh;
    }

    main .card {
        width: 40dvh;
        height: 60dvh;
    }
}