:root {
	--text-color: hsl(193, 38%, 86%);
	--card-color: hsl(216, 14%, 14%);
	--background-color: hsl(218, 23%, 16%);
	--text-alt-color: hsl(228, 45%, 44%);
	--text-menu-color: hsl(218, 23%, 16%);
	--alt-background: hsl(0, 100%, 100%);
}
