:root {
    --text-color: hsl(193, 38%, 86%);
    --advice-dice-color: hsl(150, 100%, 66%);
    --advice-card-color: hsl(217, 19%, 24%);
    --background-color: hsl(218, 23%, 16%);
    --text-alt-color: hsl(228, 45%, 44%);
    --text-menu-color:hsl(218, 23%, 16%);
    --alt-background: hsl(0, 100%, 100%);
}